<% include partial/header %>


<div class="container" >

  <div class="row"  id="btns">
            <button id="delete_item"><i class="material-icons md-24">delete_outline</i></button>
              <!-- <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Poster Item(s)</button> -->
              <button type="submit" class="btn btn-danger" id="export">image export</button>
              <button type="submit" class="btn btn-info" id="pdf-export">PDF export</button>
              <a href="/home"><button type="submit" class="btn btn-success" id="home" style="margin-left:15px">home</button></a>

  </div>

  <div class="row"  id="del">
      <div class="text-drop"><h5>Drop items that want to delete them.....just HERE!</h5></div>
  </div>

  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Poster background</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Background color</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Coming soon...</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <%= typeof msg != 'undefined' ? msg : '' %>
   <form id="uploadForm"
       action=''
       method='POST'
       encType="multipart/form-data" class="form-inline">
       <div class="form-group mb-2">
         <input required type="file" id="myimg" name="myImage" />
       </div>
         <input type="hidden" name="seed" id="upload-form-id">
         <input class="btn btn-primary mb-2" type='submit' value='Upload' />
     </form>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <br>
    <form id="update-color" action='' method='POST' class="form-inline">
      <div class="form-group mb-2">
        <input type="color" class="" name="color" id="color-id" >
      </div>
      <br>
      <br>
      <div class="mb-2">
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><br>...</div>
</div>


  <!-- <div class="uploadForm">
    <div class="form-acss">
      <%= typeof msg != 'undefined' ? msg : '' %>
     <form id="uploadForm"
         action=''
         method='POST'
         encType="multipart/form-data" class="form-inline">
         <div class="form-group mb-2">
           <label for="myimg" class="">Background color</label>
           <input type="file" id="myimg" name="myImage" />
         </div>
           <input type="hidden" name="seed" id="upload-form-id">
           <input class="btn btn-primary mb-2" type='submit' value='Upload' />
       </form>
    </div>

    <div class="form-acss">
      <form id="update-color" action='' method='POST' class="form-inline">
          <div class="form-group mb-2">
            <input type="text" class="form-control" name="color" id="color-id" placeholder="color code(#xxx)">
          </div>
          <br>
          <br>
          <div class="mb-2">
            <button type="submit" class="btn btn-primary">Apply</button>
          </div>
        </form>
    </div>
  </div> -->


  <div class="container" id="poster">
  <div class="header-container">

    <img width="1065px" class="cus-img img-fluid" src="<%= file != 'uploads/null' ? file : '/img/emp.jpg' %>" id="responsive-img">
  </div>
      <ul class="list-group" id="packages">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-2 col-sm-1"><h4 class="label label-primary">(یک تخته (تومان</h4></div>
            <div class="col-md-2 col-sm-1"><h4 class="label label-primary">(دوتخته(تومان</h4></div>
            <div class="col-md-1 col-sm-1"><h4 class="label label-primary">محل اقامت</h4></div>

            <div class="col-md-1 col-sm-1">
                <h4 class="label label-primary">مدت اقامت</h4>
            </div>
            <div class="col-md-1 col-sm-1">
                <h4 class="label label-primary">ستاره</h4>
            </div>
            <div class="col-md-2 col-sm-1">
                <h4 class="label label-primary">هتل</h4>
            </div>
            <div class="col-md-2 col-sm-1">
                <h4 class="label label-primary">تاریخ پکیج</h4>
            </div>

              <div class="col-md-1 col-sm-1">
                  <h4 class="label label-primary">فاز</h4>
              </div>
          </div>
        </li>
          <!-- <%= posters %> -->
          <% for (var i=0;i<posters.length;i++){ %>
              <!-- <%= i %> -->
            <% posters[i].hotels.forEach(function(hotel) { %>
              <li class="list-group-item" id="poster-item">
              <div class="row">
              <div class="col-md-2 col-sm-1"><h4 ><%= hotel.two_bed_person %></h4></div>
              <div class="col-md-2 col-sm-1"><h4 ><%= hotel.one_bed_price %></h4></div>
              <div class="col-md-1 col-sm-1"><h4 ><%= hotel.stay_duration %></h4></div>

              <div class="col-md-1 col-sm-1">
                  <h4 ><%= hotel.stay_place %></h4>
              </div>
              <div class="col-md-1 col-sm-1">
                  <h4 ><%= hotel.number_of_star %></h4>
              </div>
              <div class="col-md-2 col-sm-1">
                  <h4 ><%= hotel.hotel_name %></h4>
              </div>
              <% }); %>
              <div class="col-md-2 col-sm-1">
                  <h4 ><%= posters[i].date %></h4>
              </div>

                <div class="col-md-1 col-sm-1">
                    <h4 ><%= posters[i].phase%></h4>
                </div>
            </div>
            <% }; %>
          </li>
    </ul>
    <div class="row" id="service">
      <div class="col-md-5" style="margin-left:1.5%">
        <h3>نکات مهم</h3>

      </div>
      <div class="col-md-5" style="margin-left:15%">
        <h3>خدمات</h3>
        <ul class="list-group" id="serv">
          <% items.forEach(function(item) { %>
          <li class="list-group-item" id="serv-items">
            <div class="row">
              <h4><%= item.item_content%></h4>
            </div>
            <% }); %>
          </li>
        </ul>
      </div>
    </div>
  </div>

<br>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab1" data-toggle="tab" href="#nav-home1" role="tab" aria-controls="nav-home1" aria-selected="true">Add package</a>
      <a class="nav-item nav-link" id="nav-profile-tab1" data-toggle="tab" href="#nav-profile1" role="tab" aria-controls="nav-profile1" aria-selected="false">Add service item(s)</a>
      <a class="nav-item nav-link" id="nav-contact-tab1" data-toggle="tab" href="#nav-contact1" role="tab" aria-controls="nav-contact1" aria-selected="false">Poster name</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab1">
        <div id = "form_data">
          <div id="packs">
          <form action="/" method="POST" id="form-tour">
            <div class="form-group">
              <label>Phase number</label>
              <input required type="number" class="form-control" placeholder="Add Name" id="phase">
            </div>
            <hr>
            <div class="form-group">
              <label>shamsi date</label>
              <input required type="text" class="form-control" placeholder="Add Name" id="s_d">
            </div>

            <div class="form-group">
              <label>miladi date</label>
              <input required type="text" class="form-control" placeholder="Add Name" id="m_d">
            </div>

            <div class="form-group hotel-lists">
              <label>Hotel</label>
            </div>
            <i class="material-icons" id="add_hotel_btn">add_circle</i>
            <i class="material-icons" id="delete_hotel_btn">remove_circle</i>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>





        </div>
      </div>
      <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab1">
        <div id = "form_data">
          <div id="poster-options">
            <form class="form-inline" action="" method="POST" id="form-option">
              <label for="email">option:</label>
              <input type="text" class="form-control" id="email" name="item_content" style="width:70%">
              <input style="width:-webkit-fill-available" type="text" hidden="true" id="poster_id_id" name="seed">
              <button type="submit" class="btn btn-success">Add</button>
            </form>
          </div>
        </div>


      </div>
      <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab1" style="margin-top:3%;margin-left:5%;margin-bottom:5%;box-shadow:0 1.5px 6px rgba(0,0,0,.12);padding:3%;">
        <form class="form-inline" action="" method="POST" id="poster-name">
          <input type="text" class="form-control" id="pos_name" name="pos_name" style="width:70%" placeholder="Enter poster name...">
          <button type="submit" class="btn btn-success">Save</button>
        </form>
      </div>
  </div>



  <div>
    <fieldset disabled>
      <input style="width:-webkit-fill-available" type="text" id="poster_id_id" name="seed">
      </fieldset>
  </div>



    </div>
  </div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- <script src="js/bootstrap.js"></script> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs" crossorigin="anonymous"></script>
<!-- <script src="js/html2canvas.js"></script> -->
<script src="js/html2canvas.min.js"></script>
<script src="js/download.js"></script>
<script src="js/index.js"></script>
<!-- <script src="js/from_html.js"></script>
<script src="js/split_text_to_size.js"></script>
<script src="js/standard_fonts_metrics.js"></script>
<script src="js/jspdf.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

<script>



$(document).ready(function(){
  event.preventDefault();
  // console.log(<%=posters%>);
  var pdf_file;

  $("#export").click(function() {
    html2canvas($("#poster"), {
    onrendered: function (canvas) {
        theCanvas = canvas;

        // document.body.appendChild(canvas);
        var dataURL = canvas.toDataURL();
        download(dataURL, 'my-node.png');
        canvas.toBlob(function (blob) {
            saveAs(blob, "Dashboard.png");
        });
    }
});
  });



  $("#delete_item").click(function(){
    $("#del").toggle();
  });

  $(function() {
          $( "#packages" ).sortable({
            items: '> #poster-item'
          });
          $( "#packages" ).disableSelection();
        });

  $(function() {
          $( "#serv" ).sortable({
            items: '> #serv-items'
          });
          $( "#serv" ).disableSelection();
        });



    var existHotel = 0;

    $("#add_hotel_btn").click(function(){
        existHotel+=1;
        $(".hotel-lists").append('<div class="bg-success custom-hotel" id="hotel_' + existHotel + '"><label>Hotel Name</label><input required type="text" id="hotel_name" class="form-control" placeholder="Add new hotel">'+
        '<hr><div class="form-group"><label>number of stars</label><br><input required type="number" default="5" class="form-control" id="nos" placeholder="Add Name"></div>'
        +'<hr><div class="form-group"><label>stay duration</label><br><input required type="text" class="form-control" id="sd" placeholder="stay_duration..."></div>'
        +'<hr><div class="form-group"><label>stay place</label><br><input required type="text" class="form-control" id="sp" placeholder="stay_place..."></div>'
        +'<hr><div class="form-group"><label>2 bed price</label><br><input required type="text" class="form-control" id="tp" placeholder="price..."></div>'
        +'<hr><div class="form-group"><label>1 bed price</label><br><input required type="text" class="form-control" id="op" placeholder="price..."></div></div>')
    });



    var seed = "<%=poster_id%>";
    $("#poster_id_id").val(seed);

    <% if (back_color){ %>
    $("#poster").css("background-color","<%=back_color%>")
    <% } %>

    console.log(seed);


    $("#form-option").attr('action', '/items/add/'+seed);
    $("#uploadForm").attr('action', '/upload/'+seed);
    $("#update-color").attr('action', '/color/'+seed);
    $("#poster-name").attr('action', '/update_name/'+seed);


    $( "#form-tour" ).submit(function( event ) {
      event.preventDefault();
      console.log("hi");
      var new_list =
      '<div class="col-md-2 col-sm-1"><h4 class="">'+$('#s_d').val()+'/'+$('#m_d').val()+'</h4></div>'
      +'<div class="col-md-1 col-sm-1"><h4 class="">'+$('#phase').val()+'</h4></div>';

      var packages = {
        package_seed : seed,
        phase : $('#phase').val(),
        date : $('#s_d').val()+'/'+$('#m_d').val(),
        number_of_hotel : existHotel,
        hotels: [],
        items: []
      }
      console.log(packages);
      // alert(existHotel);
      for(var i=1;i<=existHotel;i++){
        packages.hotels.push(
                                  {hotel_name : ""+$('#hotel_'+i+' #hotel_name').val(),
                                  number_of_star : $('#hotel_'+i+' #nos').val(),
                                  stay_place : ""+$('#hotel_'+i+' #sp').val(),
                                  stay_duration: ""+$('#hotel_'+i+' #sd').val(),
                                  one_bed_price: ""+$('#hotel_'+i+' #op').val(),
                                  two_bed_person: ""+$('#hotel_'+i+' #tp').val()}

        );
        }

        $('#form-tour').trigger("reset");

        $.post("/posters/add",{_package: packages},()=>{
          console.log("iiiiii");
          location.reload();
        });

      });


          $( "#poster-items" ).hide();




          $("#del").droppable({
            over:function(event, ui) {
                $("#del").css({"transition": "0.9s", "background-color": "#fff" , "border": "2px dashed #000" , "opacity": "0.6"});
            },
            drop: function(event, ui) {
                ui.draggable.remove();
                $("#del").toggle();
                setTimeout(function(){
                  alert("to undo refresh page(press F5)")
              }, 1000);

            }

        });



    $("#delete_hotel_btn").click(function(){

      if (existHotel===0) {
        alert("can not remove hotel :)");
      }
      else{
        $("#hotel_"+existHotel).remove();
        existHotel-=1;
      }

    });
});


</script>
</body>
</html>
